.header {background-color:#1E90FF; height:200px;}
.header  .container  .row.main  .img {text-align:center; margin-top:80px;}
.header  .container  .row.main  a{color:white; margin-top:30px;}
.header  .container  .row.main  span{margin-top:26px;}

.first  .container  .row.icon{margin-top:10px;text-align:center;}
.first  .container  .row.icon  button {width:132px; height:100px;}
.first  .container  .row.icon  button i{font-size: 35px; color: #1E90FF;padding: 2px;}

.second  .container  .row.second{margin-top:10px;text-align:center;}
.second  .container  .row.second  button{width:132px; height:100px;}
.second  .container  .row.second  button i{font-size: 35px;color: #1E90FF;padding: 2px;}

.third  .container  .row.third{margin-top:10px;text-align:center;}
.third  .container  .row.third  button{width:132px; height:100px;}
.third  .container  .row.third  button i{font-size: 35px;color: #1E90FF;padding: 2px;}

.first .container-fluid{background-color:#1E90FF; }
.first .container-fluid .row h4{color:white;text-align:center; margin-top:50px;}
.first .container-fluid .row span{color:white; margin-top:50px; }
.second .container-fluid .topic{border-bottom:1px solid grey; margin-top:20px; margin-bottom:10px; padding-bottom:20px; margin-left:30px;}
.second .container-fluid .topic:last-child{border-bottom:none;}
.second .container-fluid .topic span{color:#1E90FF; margin-left:130px;}

footer .container .row.footer {border-top: 1px grey solid;margin-top: 16px;}
footer .container .row.footer .col-xs-3 {text-align: center;margin-top: 20px;}
footer .container .row.footer .col-xs-3 a i {font-size:18px;}


.detail .container-fluid .row{background-image:url("../images/bg.jpg");background-size:100%;background-repeat:no-repeat;height:160px;}
.detail .container-fluid .row h2{color:white; margin-left: 13px;margin-top: 85px;}
.detail .container-fluid .row h5{color:white; }
.detail .container-fluid .row h5 span{margin-right:10px;margin-left:13px;}
.detail .container-fluid .content p{font-family:'Roboto'; margin-top:10px; text-align:justify;}


.address .container-fluid .row address h3 {color:#1E90FF; font-family: 'Oswald', sans-serif;}
.address .container-fluid .row address {font-family: 'Roboto', sans-serif;}
.map{background-color:#1E90FF; height:60px;font-family: 'Roboto', sans-serif;}
.map .row .col-xs-6{text-align:center;}
.map .row .col-xs-6.one  i{color:white; font-size:18px;  margin-top: 17px;}
.map .row .col-xs-6.two  i{color:white; font-size:15px;  margin-top: 17px;}
.map .row .col-xs-12 iframe{margin-top:22px;width:100%}
.contact .container-fluid  .row.contact i {border-bottom: 1px solid grey;width: 100%;margin-top: 26px;padding:15px;}
.contact .container-fluid  .row.contact span {margin-top: 26px;padding:15px;font-family: 'Roboto', sans-serif;}
.contact .container-fluid  .row .col-xs-12.two{text-align:center;}
.contact .container-fluid  .row  .col-xs-12.two  button {background: red;color: white;width: 80%;margin-top: 35px;}
>>>>>>> origin/master
